<!DOCTYPE html>
  <html lang="ko">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>상권분석 서비스</title>
        <link rel="stylesheet" href="data_process.css">
    </head>

    <body>
        <header>
            <div class="wrapper">
                <h3>상권분석 서비스</h3>
                <a href="#" class="member"><p class="member">로그인</p></a>
                <a href="#"class="member"><p class="member">회원가입</p></a>
                <a href="#"class="member"><p class="member">로그아웃</p></a>
            </div>
        </header>
        <div id="main_wrap">
            <div id="list">
                <ul>
                    <a href="#"><li>파일 업로드</li></a>
                    <a href="#"><li id="main_title">진행</li></a>
                    <a href="#"><li>결과</li></a>
                </ul>
            </div>
            <div id="wrap"></div>
            <div id="table_wrap">
                <p class="title">파일 업로드 목록</p>
                <table id="table">
                    <th width="20%">국가명</th>
                    <th width="20%">도시명</th>
                    <th>진행상황</th>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>

    </body>

  </html>